.moving-ma {
    width: 100%;
    height: 30px;
    transform: translateX(100%);
    animation: scroll-left 5s linear infinite;
}

.moving-ma * {
    position: absolute;
    width: 100%;
    overflow: hidden;
    animation: scroll-right 5s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(70%);
    }
}
