.moving-ma {
    height: calc(256px * 3);
    display: flex;
    align-items: center;
    transform: translateX(100%);
    animation: bound 2s linear infinite alternate;
}

@keyframes bound {
    0% {
        transform: translateX(calc(100% - 256px));
    }
    100% {
        transform: translateX(0);
    }
}
