body {
    font-size: 16px;
    margin: 0;
}


.page-header-container {
    background-color: #F0F0F0;
    display: flex;
    align-items: center; /* align children to vertically center if there is empty space */
    margin: 0;
}
.page-header-child {
    margin: 0.5em;
}
.page-header-logo {
    height: 3rem;
    padding: 0;
    margin: 0;
}
.page-header-logo-container {
    margin: 0;
}


.root {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.header {
    text-align: center;
    word-wrap: break-word;
    margin: 0.5em;
}

.container {
    display: flex;
    align-self: center;
}

.child {
    flex-grow: 1;
}

.content {
    margin: 1em;
}