body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Arial", "BIZ UDPGothic", "Meiryo", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #212121;
    background-color: #FEFEFE;
    line-height: 1.75;
    word-wrap: break-word;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 1em;
}

.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-tile {
    display: flex;
    min-height: 200px;
    flex-flow: column wrap; 
    width: 100%;
    box-shadow : 0 0 0 1px #F0F0F0;
    padding: 0.5rem 0rem 2rem;
}

.card-tile-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    width: 90%;
}


@media only screen and (min-width: 600px) {
    /* for larger devices */
    .card-tile {
        min-width: max(50%, 320px);
        max-width: max(50%, 320px);
        flex: 1;
    }
    .card-tile-base {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .card-tile {
        min-width: max(33.33%, 320px);
        max-width: max(33.33%, 320px);
    }
    .card-tile-base {
        width: 70%;
        max-width: 1200px;
    }
}


.tile-heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-shrink: 0;
    text-align: center;
}

.tile-heading .tile-heading-link {
    color: #212121;
}


.card-content {
    width: 75%;
    align-self: center;
    flex-grow: 1;
}


#main-content {
    display: flex;
    flex-direction: column;
}

.main-heading {
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    margin: 2.5rem;
}


ul.general-list {
    display: flex;
    width: 80%;
    padding-left: 7.5%;
    flex-direction: column;
    justify-content: space-around;
}

.language-list {
    display: inline-flex;
    padding-left: 0;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
}
.language-list * {
    display: inline;
    padding: 0.2rem 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.language-list *:not(:last-child)::after {
    content: ",";
}

.me-link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0;
    list-style-type: none;
}


/* headers and footers */
.page-footer-container {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.page-header-container {
    background-color: #f8f8F8;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 0;
    width: 100%;
}
.page-header-logo {
    height: 3rem;
    padding: 0;
    background-color: white;
    /*border: solid 1px #E8E8E8; */
}

.page-header-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
}

a:link, a:visited {
    color: inherit;
}